[submodule "mkdocs-changelog-plugin"]
	path = mkdocs-changelog-plugin
	url = https://github.com/TonyCrane/mkdocs-changelog-plugin
[submodule "mkdocs-heti-plugin"]
	path = mkdocs-heti-plugin
	url = https://github.com/TonyCrane/mkdocs-heti-plugin
